.DS_Store

**/.DS_Store

._*

**/._*

*.zip
**/.zip

*.txt

*.docx
**/.docx

**/*.py

Slides/
tutorialSlides/
Exams/
ExamEamples/
Solutions/

Assignment1/Program1Report.pdf
Assignment1/Assignment1.ipynb
Assignment2/Program2Report.pdf

Syllabus-CAP4453-2.pdf