.DS_Store

**/.DS_Store

._*

**/._*

*.zip
**/.zip

*.pdf

*.txt

*.docx
**/.docx

**/.py

Slides/
tutorialSlides/
Exams/
ExamExamples/
Solutions/

Assignment1/Program1Report.pdf
Assignment1/Assignment1.ipynb
Assignment2/Assignment2Report.pdf